.DS_Store
.tern-project
node_modules
*.log
*.swp
*.map
.idea/
dw.json
launch.json
demo_data_no_hires_images.zip
Thumbs.db
app_storefront_core/cartridge/static/*/css/style.css
app_storefront_core/cartridge/static/*/js/app.js
test/application/pageObjects/testData/parsedData.txt
test/reports/*.xml
coverage
app_boohoo/cartridge/static/default/js/app.js
app_boohoo/cartridge/static/*/css/*.css
app_nastygal/cartridge/static/default/js/app.js
app_nastygal/cartridge/static/*/css/*.css
app_boohooman/cartridge/static/default/js/app.js
app_boohooman/cartridge/static/*/css/*.css
